.color-card {
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
}

.options-area {
  display: flex;
  gap: 5px;
  justify-content: space-between;
}

.copy-area {
  display: flex;
  gap: 5px;
  align-items: center;
}

.color-card-headline {
  display: inline;
  padding: 2px 6px;
  background: black;
  color: white;
  border-radius: 5px;
}

.color-list-container {
  padding: 0;
  margin: 0;
}

.color-list {
  list-style-type: none;
}
